.border-thick         { border-width: $border-width-thick !important; }
.border-top-thick     { border-top-width: $border-width-thick !important; }
.border-right-thick   { border-right-width: $border-width-thick !important; }
.border-bottom-thick  { border-bottom-width: $border-width-thick !important; }
.border-left-thick    { border-left-width: $border-width-thick !important; }
